.img-logo {
  width: 200px;
  height: 100px;
    margin-top: 6px;
    margin-left: -21px;
}

.procure-logo{
  display: none;
  width: 100px;
  height: 50px;
}
.brand-title{
  max-width: 300px !important;
}
@media only screen and (min-width: 1024px) {
    
   
}


@media only screen and (min-width: 747px) {

}