
<div class="content-body">

  


    <div class="d-flex flex-row justify-content-end flex-item " style="transform: translateY();">
     
      <div class="p-2 "> <button type="button" class="btn btn-primary" (click)="mynewFunction()">Submit</button>
        <div id="snack">Submitted Successfully</div>
      </div>
  
    </div>


    

   
  <div class="d-flex flex-column flex-sm-row justify-content-around flex-item " style="transform: translateY();">
    <div class="p-2 "> 
      <div class="card">
        <div class="card-header">
            <h4 class="card-title">Basic details</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <form>
                    
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Supplier id</label>
                            <input type="number" class="form-control" placeholder="Supplier id">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Supplier Name</label>
                            <input type="text" class="form-control" placeholder="Supplier name">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Trn no</label>
                            <input type="number" class="form-control" placeholder="Trn no">
                        </div>
                        <div class="form-group col-md-6">
                          <label>VAT</label>
                          <input type="email" class="form-control" placeholder="VAT">
                      </div>
                      <div class="form-group col-md-6">
                        <label>Country</label>
                        <input type="email" class="form-control" placeholder="Country">
                    </div>
                    <div class="form-group col-md-6">
                      <label>Category</label>
                      <input type="email" class="form-control" placeholder="Category">
                  </div>
                       
                       
                    </div>
                   
                 
                
                </form>
            </div>
        </div>
    </div>
    </div>
    <div class="p-2 "> 
      <div class="card">
        <div class="card-header">
            <h4 class="card-title">Contact details</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <form>
                    
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Phone number</label>
                            <input type="number" class="form-control" placeholder="Phone number">
                        </div>
                        <div class="form-group col-md-6">
                            <label> Email</label>
                            <input type="email" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Local address</label>
                            <input type="text" class="form-control" placeholder="Local address">
                        </div>
                       
                        <div class="form-group col-md-6">
                            <label>Delivery address</label>
                            <input type="text" class="form-control" placeholder="Delivery address">
                        </div>
                        <div class="form-group col-md-6">
                          <label>Other details</label>
                          <input type="text" class="form-control" placeholder="Other details">
                      </div>
                    </div>
                   
                 
                
                </form>
            </div>
        </div>
    </div>
    </div>

  </div>



  <div class="d-flex flex-column flex-sm-row justify-content-around flex-item " style="transform: translateY();">
    <div class="p-2 "> 
      <div class="card">
        <div class="card-header">
            <h4 class="card-title">References</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <form>
                    
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Name</label>
                            <input type="text" class="form-control" placeholder="Name">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Department</label>
                            <input type="text" class="form-control" placeholder="Department">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Designation</label>
                            <input type="text" class="form-control" placeholder="Designation">
                        </div>
                        <div class="form-group col-md-6">
                          <label>Email for response</label>
                          <input type="email" class="form-control" placeholder="Email">
                      </div>
                      <div class="form-group col-md-6">
                        <label>Email</label>
                        <input type="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group col-md-6">
                      <label>Phone Number</label>
                      <input type="number" class="form-control" placeholder="Phone number">
                  </div>
                       
                       
                    </div>
                   
                 
                
                </form>
            </div>
        </div>
    </div>
    </div>
    <div class="p-2 "> 
      <div class="card">
        <div class="card-header">
            <h4 class="card-title">Documents</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <form>
                    
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>No</label>
                            <input type="number" class="form-control" placeholder="No">
                        </div>
                        <div class="form-group col-md-6">
                            <label> Document type</label>
                            <input type="text" class="form-control" placeholder="Document type">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Remarks</label>
                            <input type="text" class="form-control" placeholder="Remarks">
                        </div>
                       
                        <div class="form-group col-md-6">
                            <label>Issuedate</label>
                            <input type="number" class="form-control" placeholder="Issuedate">
                        </div>
                        <div class="form-group col-md-6">
                          <label>Expirydate</label>
                          <input type="number" class="form-control" placeholder="Expirydate">
                      </div>
                    </div>
                   
                 
                
                </form>
            </div>
        </div>
    </div>
    </div>

  </div>



  
  <div class="d-flex flex-column flex-sm-row justify-content-around flex-item " style="transform: translateY();">
    <div class="p-2 "> 
      <div class="card">
        <div class="card-header">
            <h4 class="card-title">Terms and conditions</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <form>
                    
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Payment term</label>
                            <input type="text" class="form-control" placeholder="Payment term">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Credit limit</label>
                            <input type="number" class="form-control" placeholder="Credit limit">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Max cash discount</label>
                            <input type="email" class="form-control" placeholder="Max cash discount">
                        </div>
                        <div class="form-group col-md-6">
                          <label>Email for response</label>
                          <input type="email" class="form-control" placeholder="">
                      </div>
                      <div class="form-group col-md-6">
                        <label>Description</label>
                        <input type="email" class="form-control" placeholder="Description">
                    </div>
                    <div class="form-group col-md-6">
                      <label>Title</label>
                      <input type="email" class="form-control" placeholder="Description">
                  </div>
                       
                       
                    </div>
                   
                 
                
                </form>
            </div>
        </div>
    </div>
    </div>
    <div class="p-2 "> 
      <div class="card">
        <div class="card-header">
            <h4 class="card-title">Product/service</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <form>
                    
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>No</label>
                            <input type="number" class="form-control" placeholder="No">
                        </div>
                        <div class="form-group col-md-6">
                            <label> Name</label>
                            <input type="text" class="form-control" placeholder="Name">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Qty</label>
                            <input type="number" class="form-control" placeholder="Qty">
                        </div>
                       
                        <div class="form-group col-md-6">
                            <label>Cost</label>
                            <input type="number" class="form-control" placeholder="Cost">
                        </div>
                        <div class="form-group col-md-6">
                          <label>Total</label>
                          <input type="number" class="form-control" placeholder="Total">
                      </div>
                    </div>
                   
                 
                
                </form>
            </div>
        </div>
    </div>
    </div>

  </div>
  

</div>

    





     
  
  
   

    